parameters:
    excludes_analyse:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
